.DS_Store
# Common backup files
*.swp
*.bak
*.tmp
*~
# Various IDEs
.project
.idea/
*.tmproj
.vscode/
# Project specific
.env
node_modules
_dist
infra/gcp/creds
infra/gcp/.terraform
infra/gcp/myplan
coverage
